body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 20px;
}

.contenedor {
    background-color: white;
    padding: 20px;
}

h1 {
    color: darkblue;
}

.cards {
    margin-top: 40px;
}

.card {
    background-color: #eaeaea;
    padding: 10px;
    margin-bottom: 20px;
}

.card p {
    font-size: 50px;
}

.tabla {
    margin-top: 50px;
}

table {
    width: 100%;
    background-color: white;
}

th {
    background-color: lightgray;
    padding: 10px;
}

td {
    padding: 10px;
}
.topbar {
    background-color: darkblue;
    padding: 15px;
}

.topbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.topbar a:hover {
    text-decoration: underline;
}
input, textarea {
    width: 1000px;
    padding: 60px;
}

button {
    padding: 20px;
}

.comentario {
    background-color: #eaeaea;
    padding: 30px;
    margin-top: 30px;
}