body{
font-family:Arial;
background-color:#f2f2f2;
margin:20px;
}

.contenedor{
background-color:white;
padding:20px;
}

h1{
color:darkblue;
}

.cards{
margin-top:40px;
}

.card{
background-color:#eaeaea;
padding:10px;
margin-bottom:20px;
}

.card p{
font-size:40px;
}

.tabla{
margin-top:50px;
}

table{
width:100%;
background-color:white;
margin-top:20px;
border-collapse:collapse;
}

th{
background-color:lightgray;
padding:10px;
}

td{
padding:10px;
}

th,td{
border:1px solid gray;
}

.topbar{
background-color:darkblue;
padding:15px;
}

.topbar a{
color:white;
text-decoration:none;
margin-right:20px;
font-size:18px;
}

.topbar a:hover{
text-decoration:underline;
}

input,textarea,select{
width:300px;
padding:8px;
}

button{
padding:10px;
background-color:darkblue;
color:white;
border:none;
}

button:hover{
background-color:blue;
}

.comentario{
background-color:#eaeaea;
padding:20px;
margin-top:20px;
}

.login-box{
background-color:white;
padding:20px;
width:300px;
}

img{
margin-top:10px;
border:2px solid gray;
}

main{
padding:20px;
}

@media screen and (max-width:700px){

.topbar a{
display:block;
margin-top:10px;
}

.cards{
display:block;
}

.card{
margin-top:10px;
}

table{
font-size:12px;
}

input,textarea,select{
width:100%;
}

img{
width:100%;
height:auto;
}

}